a {
    text-decoration: none;
}

@function rem($px) {
    @return $px / 108px*1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 rem(58px);
    height: rem(148px);
    line-height: rem(148px);
    img {
        vertical-align: middle;
    }
    .header-left {
        flex: 3;
        a {
            color: #333;
            font-size: rem(40px);
            margin-left: rem(30px);
            i {
                padding-left: rem(5px);
                font-size: rem(35px);
                font-weight: 800;
                color: #999;
            }
        }
    }
    .header-zh {
        flex: 4;
        text-align: center;
    }
    .header-right {
        flex: 3;
        text-align: right;
    }
}

.app {
    position: fixed;
    bottom: 0;
    left: 0;
    height: rem(150px);
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    .app-left {
        float: left;
        display: flex;
        padding-left: rem(50px);
        img {
            width: rem(100px);
            height: rem(100px);
            margin: rem(25px) 0;
        }
        .text {
            margin: rem(25px) 0;
            margin-left: rem(20px);
            p {
                font-size: rem(44px);
                color: #FFF;
            }
            h3 {
                line-height: rem(60px);
                font-size: rem(36px);
                color: rgba(255, 255, 255, .7);
            }
        }
    }
    .app-right {
        float: right;
        height: rem(150px);
        width: rem(330px);
        background-color: #00ae63;
        color: #FFF;
        font-size: rem(50px);
        font-weight: 800;
        text-align: center;
        line-height: rem(150px);
    }
}

.search {
    height: rem(142px);
    border-top: rem(4px) solid #DDD;
    border-bottom: rem(4px) solid #DDD;
    background-color: #F9F9F9;
    .inp {
        height: rem(82px);
        margin: rem(30px);
        padding-left: rem(30px);
        background-color: #efebef;
        line-height: rem(82px);
        font-size: rem(38px);
        color: #9c9ea5;
        i {
            font-size: rem(48px);
            color: #9c9ea5;
        }
    }
}

.menu {
    display: flex;
    width: 100%;
    height: rem(132px);
    border-bottom: rem(4px) solid #DDD;
    .menu-list {
        width: (100%/4);
        text-align: center;
        line-height: rem(130px);
        font-size: rem(44px);
        i {
            color: #cecfce;
            font-size: rem(30px);
            font-weight: 800;
        }
    }
}

.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFF;
    box-shadow: 3px 3px rgba(0, 0, 0, .3);
}

.pubu {
    .info {
        height: rem(288px);
        padding: rem(60px) 0;
        margin: 0 0 0 rem(60px);
        border-bottom: rem(4px) solid #DDD;
        display: flex;
        .image {
            height: rem(244px);
            margin-right: rem(62px);
            img {
                height: rem(244px);
            }
        }
        .list-content {
            p {
                margin-top: rem(10px);
                line-height: rem(60px);
                color: #394043;
                font-size: rem(48px);
            }
            h3 {
                margin-top: rem(20px);
                font-size: rem(36px);
                strong {
                    float: right;
                    color: #fa5741;
                    font-size: rem(44px);
                    font-weight: 800;
                }
            }
            h4 {
                margin-top: rem(20px);
                color: #8b8b8b;
                font-size: 36px;
            }
            .tag {
                margin-top: rem(30px);
                span {
                    margin-right: rem(10px);
                    padding: rem(10px) rem(15px);
                    color: #849aae;
                    background-color: #f7f7ff;
                }
            }
        }
    }
}

.anniu {
    width: rem(300px);
    height: rem(100px);
}

.footer {
    height: rem(764px);
    background-color: #293031;
    color: #949694;
    .footer-title {
        border-bottom: rem(4px) solid #394139;
        margin: 0 rem(48px);
        font-size: rem(36px);
        line-height: rem(91px);
    }
    .footer-list {
        display: flex;
        justify-content: space-between;
        margin: rem(48px) rem(48px);
        h3 {
            font-size: rem(44px);
            color: #FFF;
            font-weight: 800;
            background-color: #393c39;
            padding: rem(25px) rem(153px);
        }
        h3:nth-child(2) {
            color: #6e6e6e;
            background-color: #212121;
        }
    }
    .list-name {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(68px);
        color: #737173;
        li {
            width: (100%/3);
            font-size: rem(44px);
            margin-bottom: rem(45px);
            list-style-type: disc;
            list-style-position: inside;
        }
    }
    .footer-end {
        display: flex;
        justify-content: space-between;
        height: rem(155px);
        margin: 0 rem(44px);
        .footer-logo {
            display: flex;
            a:nth-child(1) {
                display: inline-block;
                height: rem(72px);
                width: rem(180px);
                margin-top: rem(50px);
                background: {
                    image: url(../images/apple.png);
                    size: rem(180px) rem(144px);
                    opacity: .32;
                }
            }
            a:nth-child(2) {
                display: inline-block;
                height: rem(72px);
                width: rem(180px);
                margin-top: rem(50px);
                background: {
                    image: url(../images/apple.png);
                    size: rem(180px) rem(144px);
                    position: 0 rem(72px);
                }
            }
        }
        .foot-info {
            p {
                position: relative;
                line-height: rem(50px);
                text-align: right;
                font-size: rem(34px);
                color: #737173;
                img {
                    position: absolute;
                    left: rem(40px);

                    width: rem(60px);
                    height: rem(66px);
                }
            }
        }
    }
}