a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0.53704rem;
  height: 1.37037rem;
  line-height: 1.37037rem;
}

.header img {
  vertical-align: middle;
}

.header .header-left {
  flex: 3;
}

.header .header-left a {
  color: #333;
  font-size: 0.37037rem;
  margin-left: 0.27778rem;
}

.header .header-left a i {
  padding-left: 0.0463rem;
  font-size: 0.32407rem;
  font-weight: 800;
  color: #999;
}

.header .header-zh {
  flex: 4;
  text-align: center;
}

.header .header-right {
  flex: 3;
  text-align: right;
}

.user {
  height: 5.53704rem;
  background-image: url(../images/my.png);
  background-size: 100% 100%;
}

.user .image {
  height: 1.5rem;
  padding-top: 1.11111rem;
  text-align: center;
}

.user .image img {
  width: 1.5rem;
  height: 1.5rem;
}

.user .menu {
  height: 1rem;
  padding: 0.61111rem 0;
  text-align: center;
}

.user .menu a {
  display: inline-block;
  margin: 0 0.18519rem;
  width: 2.44444rem;
  height: 0.94444rem;
  border: 0.01852rem solid #fff;
  border-radius: 0.0463rem;
  color: #fff;
  font-size: 0.44444rem;
  text-align: center;
  line-height: 0.92593rem;
}

.jiange {
  height: 0.35185rem;
  border-bottom: 0.01852rem solid #DDD;
  background-color: #f7f7f7;
}

.list {
  margin: 0 0 0 1.39815rem;
  height: 1.41667rem;
  border-bottom: 0.01852rem solid #ddd;
}

.list div {
  position: relative;
  height: 1.41667rem;
  line-height: 1.41667rem;
  margin-right: 0.78704rem;
}

.list div em {
  float: left;
  font-size: 0.40741rem;
}

.list div span {
  position: absolute;
  top: 0.46296rem;
  left: -0.83333rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-image: url(../images/icon.png);
  background-size: cover;
}

.list div i {
  float: right;
  font-size: 0.31481rem;
  font-weight: 800;
  color: #9c9a9c;
}

.one span {
  background-image: url(../images/icon.png);
  background-size: cover;
  background-position: 0 -0.50926rem;
}

.two span {
  background-image: url(../images/icon.png);
  background-size: cover;
  background-position: 0 -1.01852rem;
}

.three span {
  background-image: url(../images/icon.png);
  background-size: cover;
  background-position: 0 -1.52778rem;
}
